{% extends 'base.html.twig' %}

{% block title 'Voir tous nos biens' %}
{% block body %}

    <div class='container mt-4'>
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, quam vitae venenatis laoreet, erat mi venenatis orci, sit amet rhoncus nunc eros at arcu. Vivamus interdum tempus luctus. Morbi rhoncus accumsan rutrum. Pellentesque felis justo, consectetur vel fringilla eget, convallis accumsan augue. 
        Etiam id libero massa.</p>
    </div>
{% endblock %}